.projectmain {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 40px 0px;
}

.project_div {
    width: 320px;
    border-radius: 18px;
     transition:  box-shadow 0.5s ease-in;
   text-align: center;  
   /* border: 1px solid; */
}
.project_div:hover{
    /* border-bottom: 1px solid ; */
    box-shadow: 0px 10px 10px -10px ;
 /* transform: scale(1.05); */
}

.project_image {
    width: 300px;
    height: 250px;
    border-radius: 18px 18px 0px 0px;
    transition: transform 0.8s ease-in, box-shadow 0.5s ease-in;
}

/* ✅ Image dab jaye andar ki taraf (slightly scale down) */
.project_image:hover {
    transform: scale(1.05); /* <--- andar ki taraf */
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.2); /* andar ka shadow */
}

.project_image:active {
    transform: scale(0.93);
}
